.navbar{
    display:flex;
      width:66%;
         margin:auto;
         padding:10px;
         align-items: center;
         justify-content: space-around;
         font-size: 12px;
         text-align: center; 
         position: relative;
         z-index: 6;
         
}
.navbarlink{
 text-decoration:none;
 color: white; 
}


