*{
    margin: 0;
    padding: 0;
   
}

.Carousel{
    width:75%;
    margin: auto;
cursor: pointer;
   
}

 .cards img p,h3{
    width: 100%;
    height: 80%;
    /* border: 1px solid black; */
      background: #f2f2f2;
      
}
.cards{
    margin: 0.5rem;
   
}

.cards>img{
    margin-top:13px;
    width: 100%;
    height:330px;
    /* border: 1px solid black; */
    background: #f2f2f2;
    border-radius: 15px;
} 
.cards>p,h3{
    width: 100%;
    height: 80%;
    /* border: 1px solid black; */
      background: #f2f2f2;
}
.cards>h3{
    color: black;
}
.cards>p:nth-child(2){
    color: red;
}